@font-face {
  font-family: 'pixelate';
  src: url(./font/sf-pixelate-shaded-bold.ttf);
}

:root {
  --black: #000;
  --white: #fff;
  --catalina-blue: #01317D;
  --yarrow-white:#ffe0ff;
}

.leftArrow, 
.rightArrow {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  border: 2px solid var(--catalina-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--catalina-blue);
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bolder;
  transition: background 0.3s ease-in;
}

.leftArrow:hover, 
.rightArrow:hover {
  background-color: var(--catalina-blue);
  border-color: var(--catalina-blue);
  color: var(--white);
}

.container {
  height: 95vh;
}
.container,
.content {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#second_img,
#third_img, 
#fourth_img,
#fifth_img,
#sixth_img {
  display: none;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 30%;
  border: 2px solid var(--catalina-blue);
  margin-right: 10px;
  transition: all 0.2s ease-in;
}

.active {
  background-color: var(--catalina-blue);
}